<template name="participantsShow">
    <!-- +++++ Projects Section +++++ -->
    <div class="container pt">
        <div class="row mt">
            <div class="col-lg-6 col-lg-offset-3 centered">
                <h3 >Participant Name</h3><span>{{name}}</span>
                <h3>Profession</h3><span>{{desc}}</span>
                <p><img id="participantProfile" class="img-responsive" src="{{imgUrl}}" alt=""></p>

            </div>
        </div>
        <div class="row mt centered">
            <h3>Portfolio</h3>
            <div class="col-lg-8 col-lg-offset-2">
                <p><img class="img-responsive" src="/img/portfolio/1.jpg" alt=""></p>
                <p><img class="img-responsive" src="/img/portfolio/2.jpg" alt=""></p>
                <p><img class="img-responsive" src="/img/portfolio/3.jpg" alt=""></p>
                <p><bt>Client: <a href="#">BlackTie.co</a></bt> - <bt>Type: <a href="#">Illustration</a></bt> - <bt>Date: <a href="#">January 2014</a></bt></p>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
    {{> footer}}
</template>