<template name="homeIndex">
    <!-- +++++ Welcome Section +++++ -->
    <div id="ww">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1>Online Competition Management</h1>
                        <p class="lead">
                            To Participate and win prizes
                        </p>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
    </div><!-- /ww -->

    <!-- +++++ Projects Section +++++ -->

    <div class="container pt">

        <div class="row mt centered">
            {{#each featured}}
                {{> eventTile this}}
            {{/each}}
        </div><!-- /row -->

    </div><!-- /container -->


    {{> footer}}
</template>